.container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}

.container section.form {
    width: 100%;
    max-width: 350px;
    margin: 30px;
}

.container section.form form {
    margin-top: 100px;
}

.container section.form h1 {
    font-size: 32px;
    margin-bottom: 32px;
}

.container section.form a:hover {
    opacity: 0.8;
}